/********
* RESET *
*********/
html {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
	font-size: 100%;
}

@media (min-width: 40em) {
	html {
		font-size: 125%;
	}
}

@media (min-width: 70em) {
	html {
		font-size: 150%;
	}
}

body {
	margin: 0;
	background-color: #fafafa;
}

::-webkit-input-placeholder {
	color: #bdbdbd;
};

/********
* Main *
*********/
.todoApp {
	width: 100%;
	margin: 0 auto;
	color:#212121;
}

/* Header */
.todoApp-header {
	color: #fff;
	background-color: #f44336;
	text-align: center;
	box-shadow: 0 1px 15px 0px #9e9e9e;
    padding: .5em 0;
}

.todoApp-menuButton {
	position: absolute;
	top: 0;
	left: 0;
	background:url(../img/menu.svg) center no-repeat;
	border:0;
	width: 24px;
	height: 24px;
	text-indent: -3000px;
}

.todoApp-header-title {
	margin: 0;
	font-size: 2em;
}

/* New Task form */
.todoApp-newTask {
	margin: 30px 1em;
}

.todoApp-newTask-label {
	color: #757575;
	transition: color .3s;
}

.todoApp-newTask-active .todoApp-newTask-label {
	color: #ffc107;
}

.todoApp-newTask-input {
	padding: 0;
	width: 100%;
	height: 60px;
	font-size: 1em;
	border: 0;
	color: #212121;
	background-color: transparent;
	box-sizing: border-box;
	border-bottom: 1px solid #bdbdbd;
	outline:0;
	transition: all .3s;
}

.todoApp-newTask-input:focus {
	border-bottom: 1px solid #ffc107;
    box-shadow: 0 1px 0 0 #ffc107;
}

/* Tasks list */
.todoApp-list {
	margin: 0 1em 56px;
	padding: 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);
}

.todoApp-list-item {
	display: flex;
	text-align: left;
	font-size: 1em;
	list-style: none;
	margin: 0;
	border-bottom: 1px solid #bdbdbd;
}

.todoApp-list-item:last-child {
	border-bottom: 0;
}

.todoApp-list-item-check {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 56px;
	width: 56px;
	margin: 0;
	-webkit-appearance: none;
	appearance: none;
}

.todoApp-list-item-check:before {
	content: url(../img/check-blank.svg);
}

.todoApp-list-item-check:checked:before {
	content: url(../img/check-marked.svg);
}

.todoApp-list-item-label {
	display: block;
	padding: .3em 0;
	flex-grow: 1;
}

.todoApp-list-item.completed .todoApp-list-item-label {
	text-decoration: line-through;
	color: #bdbdbd;
}

.todoApp-list-item-destroy {
	display: block;
	min-width: 56px;
	width: 56px;
	padding: 0;
	background: none;
	border: none;
	font-size: 2em;
	color: #f44336;
}

.todoApp-list-item-destroy:before {
	content: '×';
}

.todoApp-mainNav {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -16em;
	width: 16em;
	background:#fafafa;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);
	transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
}

.todoApp-mainNav-open {
	left:0;
}

.todoApp-mainNav-title {
	margin: 0;
	text-align: center;
}

.todoApp-mainNav-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.todoApp-mainNav-list-title {
	margin: 0;
}

.todoApp-listsList {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #bdbdbd;
}

.todoApp-mainNav-list-item {
	cursor: default;
	padding: .5em 0 .5em 1em;
}

.todoApp-mainNav-list-item:hover {
	background: #bdbdbd;
}
