/********
* RESET *
*********/
html {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
	font-size: 100%;
}

body {
	margin: 0;
	background-color: #fafafa;
}

::-webkit-input-placeholder {
	color: #BDBDBD;
};

/********
* Main *
*********/
.todoApp {
	width: 100%;
	margin: 0 auto;
	color:#212121;
}

/* Header */
.todoApp-header {
	color: #fff;
	background-color: #F44336;
	text-align: center;
	box-shadow: 0 1px 15px 0px #9E9E9E;
    padding: .5em 0;
}

.todoApp-header-title {
	margin: 0;
}

/* New Task form */
.todoApp-newTask {
	margin: 30px 1em;
}

.todoApp-newTask-label {
	color: #757575;
	transition: color .3s;
}

.todoApp-newTask-active .todoApp-label {
	color: #ffc107;
}

.todoApp-newTask-input {
	padding: 0 .8em;
	width: 100%;
	height: 60px;
	font-size: 40px;
	border: 0;
	color: #212121;
	background-color: transparent;
	box-sizing: border-box;
	border-bottom: 1px solid #bdbdbd;
	outline:0;
	transition: all .3s;
}

.todoApp-newTask-input:focus {
	border-bottom: 1px solid #ffc107;
    box-shadow: 0 1px 0 0 #ffc107;
}

/* Tasks list */
.todoApp-list {
	margin: 0 1em 56px;
	padding: 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);
}

.todoApp-list-item {
	position: relative;
	text-align: left;
	font-size: 32px;
	list-style: none;
	margin: 0;
	border-bottom: 1px solid #BDBDBD;
}

.todoApp-list-item:last-child {
	border-bottom: 0;
}

.todoApp-list-item-check {
	position: absolute;
	top: 0;
	bottom: 0;
	left: .9em;
	margin: 1.5em 0;
	-webkit-appearance: none;
	appearance: none;
}

.todoApp-list-item-check:before {
	content: url(../img/check-blank.svg);
}

.todoApp-list-item-check:checked:before {
	content: url(../img/check-marked.svg);
}

.todoApp-list-item-label {
	display: block;
	margin-left: 1.75em;
	padding: .3em 0;
}

.todoApp-list-item.completed .todoApp-list-item-label {
	text-decoration: line-through;
	color: #BDBDBD;
}

.todoApp-list-item-destroy {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	background: none;
	border: none;
	font-size: 1em;
	color: #F44336;
}

.todoApp-list-item-destroy:before {
	content: '×';
}
