.myLists {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0 auto;
    max-width: 46em;
}

.myLists-holder {
    width: 46%;
    max-width: 15rem;
    margin: 4px;
    box-sizing: border-box;
    flex: 1 0 auto;
}

.myLists-list {
    width: 46%;
    max-width: 15rem;
    height: 9rem;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    background-color: #FFCDD2;
    padding: .5em;
    margin: 4px;
    border-radius: 3px;
    text-align: center;
    font-weight: 500;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-word;
    cursor: pointer;
}
