/********
* RESET *
*********/
html {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
	font-size: 100%;
	min-height: 100%;
}

@media (min-width: 40em) {
	html {
		font-size: 125%;
	}
}

@media (min-width: 70em) {
	html {
		font-size: 150%;
	}
}

body {
	margin: 0;
	color: #212121;
	background-color: #fafafa;
	min-height: 100vh;
}

a:focus,
button:focus {
	outline: 0;
}

::-webkit-input-placeholder {
	color: #bdbdbd;
}
